.idea/

firmware/STM32/.metadata/
firmware/STM32/RobotController/Debug/
firmware/STM32/RosUARTController/Debug/
firmware/STM32/TCPClientF7/Debug/
firmware/STM32/DiscoveryTest/Debug/
firmware/STM32/DiscoveryF4RobotController/Debug/

hardware/PowerSupply/

software/catkin_ws/build/
software/catkin_ws/devel/
software/catkin_ws/.catkin_workspace
software/catkin_ws/src/CMakeLists.txt
software/catkin_ws/src/creating_map_lidar/venv/

software/ros-app-tb3-voiceorder/build/
software/ros-app-tb3-voiceorder/android_10/build/
software/ros-app-tb3-voiceorder/android_pubsubSample/build/
software/ros-app-tb3-voiceorder/android_controllerSample/build/
software/ros-app-tb3-voiceorder/.idea/
software/ros-app-tb3-voiceorder/.gradle/

software/Simulation/catkin_ws/build/
software/Simulation/catkin_ws/devel/
software/Simulation/catkin_ws/.catkin_workspace
software/Simulation/catkin_ws/src/CMakeList.txt

software/stm_setup/.dart_tool/
software/stm_setup/.idea
software/stm_setup/build

software/RobotController/.idea/
