<launch>
  <!-- Arguments -->
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <arg name="open_rviz" default="true"/>

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find cube_robot_slam)/launch/cube_robot_gmapping.launch">
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  </include>

</launch>
